{{#mytitle}}home{{/mytitle}}

<p>Hola desde el archivo home.hbs</p>

<h3> {{person.firstname}} {{person.lastname}} </h3>

{{#with person}}
    <h3> {{full_name firstname lastname}} </h3>
{{/with}}


{{#if people}}
    <ul>
        {{#each people}}
            <li>
                {{#bold}}{{lowercase ../name}}: {{../age}}{{/bold}}
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No hay people</p>
{{/if}}