{{#if usuario}}  
    <p>Vista de Productos</p>

    <div class="form-group">
    <label>Bievenido! {{usuario}}</label>

    <form action="/logout" method="get" class="form-horizontal" role="form">
        <div class="form-group last" style="margin-bottom:0px;">
          <div class="col-sm-offset-3 col-sm-9">
            <input type="hidden" name="form" value="1" />
            <button type="submit" class="btn btn-success btn-sm">
              Desloguearse
              </button>
          </div>
        </div>
    </form>
    </div>
{{else}}
    <p>Vista de Productos</p>

    <div class="form-group">
        <label>Usuario no Logeado</label>
    </div>

{{/if}}

{{#if products}}

    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">title</th>
            <th scope="col">price</th>
            <th scope="col">thumbnail</th>
            </tr>
        </thead>
        <tbody>

        {{#each products}}

            <tr>
                <th scope="row">{{id}}</th>
                <td>{{title}}</td>
                <td>{{price}}</td>
                {{#if thumbnail}}
                <td>

                    <img class="img-thumbnail" src={{{thumbnail}}} alt="" />
                </td>
                {{/if}}
            </tr>

        {{/each}}

        </tbody>
    </table>

{{else}}

    <p>No hay products</p>

{{/if}}
